


#main_body_header {
    
}

.site_status {
    color: orange;
    letter-spacing: 3px;
}

.line_break {
    background-color: black;
    font-size: 5px;
}

.align_center {
    text-align: center;
}

#main_body {
    text-align: center;
}

.category_header_size {
    font-size: 28px;
    margin: 10px;
    
}

#home_header {
    
}

#about_me_header {
    
}

#about_me_content_pro {
    margin-left: 200px;
    margin-right: 60px;
    font-family: sans-serif;
}

#about_me_content_per {
    margin-left: 60px;
    margin-right: 200px;
    font-family: sans-serif;
}



#projects_header {

}

#robovsdino_image {
    object-fit: cover;
    width: 550px;
    height: 300px;
}

#repo_image {
    
    width: 600px;
    height: 600px;
}

#contact_header {

}

